body {
  color: white;
  font-family: 'Crimson Text', serif;
  padding: 0px;
  margin: 0px; }

.container {
  width: 75%;
  margin: 0 auto; }

.logo {
  font-family: 'Tangerine', cursive;
  color: #ff731c;
  height: 80px; }

header {
  color: white; }

.background {
  height: 800px;
  background-image: url("../images/FoodLine.jpeg");
  /* Center and scale the image nicely */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom; }

a {
  color: white;
  text-decoration: none;
  padding: 10px; }

.logo {
  float: left;
  font-size: 25px; }

nav {
  text-decoration: none;
  float: right;
  text-align: center;
  margin-top: 42px; }
  nav a:hover {
    background-color: white;
    color: #111; }

.AdBanner {
  color: white;
  background-color: #0f0b02; }

.flex {
  width: 100%;
  padding: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .flex p {
    font-size: 14px;
    margin: 0px; }
