//Global Styles
body {
    color: white;
    background-color: $dark;
    font-family: 'Crimson Text', serif;
    padding: 0px;
    margin: 0px;
}

.container {
    width: 75%;
    margin: 0 auto;
}

// Logo
.logo {
    font-family: 'Tangerine', cursive;
    color: $dark_red;
    font-size: 30px;
}

button {
    font-family: 'Crimson Text', serif;
    background-color: transparent;
    color: white;
    padding: 10px 80px;
    border-radius: 10px;
    font-size: 24px;
    text-decoration: none;
    &:hover {
        color: $dark_red;
    }
}

.lightRed {
    color: $light_red;
}
