//Media Queries

//Medium-small Screens

@media only screen and (max-width: 1090px) {
    .logo {
        float: none;
        text-align: center;
    }
    h2 {
        padding: 30px 0px 0px 0px;
        margin: 0px 5px 5px 5px;
    }
    nav {
        float: none;
        padding: 10px;
        margin: 0;
        a {
            margin: 2px;
        }
        //  text-align: center;
    }
    .intro {
        padding: 0px;
        h2 {
            font-size: 1.1em;
        }
    }

    .QuoteBanner {
        height: 300px;

        .space {
            margin: 20px;
        }
    }
}

@media only screen and (min-width: 1815px) {
    body {
        width: 80%;
        margin: 0 auto;
    }
}

//Small Screens
@media only screen and (max-width: 690px) {
    img {
        max-width: 100%;
    }
    h2 {
        font-size: 32px;
    }
    .intro {
        h2 {
            font-size: 32px;
        }
    }

    .background {
        height: 750px;
        background-image: url('../images/FoodLine.jpeg');
        /* Center and scale the image nicely */
        background-repeat: no-repeat;

        // background-attachment: fixed;
        background-position: bottom;
    }

    .backgroundSmall {
        min-height: 200px;
        background-image: url('../images/FoodLine.jpeg');
        background-attachment: fixed;
        background-position: top;
    }
    //Footer
    .container {
        display: flex;
        flex-direction: column;
        text-align: center;

        .middle {
            margin: 0px;
            flex-basis: 0;
        }
        div {
            width: 100%;
        }
    }

    .space-Between-Container {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        text-align: center;
    }
    .backgroundSmall {
        height: 170px;
    }

    .small_right {
        margin-left: 0%;
        width: 100%;
    }
    .side {
        display: none;
    }

    .images {
        display: none;
    }
}
