//Media Queries
@media only screen and (max-width: 1090px) {
    .logo {
        float: none;
        text-align: center;
    }
    h2 {
        margin: 20px 5px 5px 5px;
    }
    nav {
        float: none;
        padding: 10px;
        margin: 0;
        a {
            margin: 2px;
        }
        //  text-align: center;
    }
}

//Media Queries
@media only screen and (min-width: 1815px) {
    body {
        width: 80%;
        margin: 0 auto;
    }
}
