@import 'variables';
@import 'global';

header {
    color: white;
    // padding: 10px;
}
.background {
    height: 750px;
    background-image: url('../images/FoodLine.jpeg');
    /* Center and scale the image nicely */
    background-repeat: no-repeat;
    background-size: cover;
    // background-attachment: fixed;
    background-position: bottom;
}
a {
    color: white;
    text-decoration: none;
    padding: 10px;
}
.logo {
    float: left;
}
nav {
    text-decoration: none;
    float: right;
    text-align: center;
    margin-top: 42px;
    a {
        font-size: 20px;
        &:hover {
            background-color: white;
            color: $dark_gray;
        }
        &:active {
            color: $dark_red;
        }
    }
}

// AdBanner
.AdBanner {
    color: white;
    background-color: $dark;
}
.flex {
    width: 100%;
    padding: 3px;
    display: flex;
    justify-content: space-between;
    p {
        font-size: 14px;
        margin: 0px;
    }
}

.intro {
    padding: 150px;
    text-align: center;
    font-size: 2em;
}
