@import 'variables';
@import 'global';

header {
    color: white;
    // padding: 10px;
}
.background {
    height: 750px;
    background-image: url('../images/FoodLine.jpeg');
    /* Center and scale the image nicely */
    background-repeat: no-repeat;
    background-size: cover;
    // background-attachment: fixed;
    background-position: bottom;
}
a {
    color: white;
    text-decoration: none;
    padding: 10px;
}
.logo {
    float: left;
}
nav {
    text-decoration: none;
    float: right;
    text-align: center;
    margin-top: 42px;
    a {
        font-size: 20px;
        padding: 10px 10px;
        margin-left: 40px;
        &:hover {
            background-color: white;
            color: $dark_gray;
        }
        &:active {
            color: $dark_red;
        }
    }
}

// AdBanner
.AdBanner {
    color: white;
    background-color: $dark;
}
.flex {
    width: 100%;
    padding: 3px;
    display: flex;
    justify-content: space-between;
    p {
        font-size: 14px;
        margin: 0px;
    }
}

.intro {
    padding: 150px;
    text-align: center;
    font-size: 2em;
}

.QuoteBanner {
    height: 300px;
    background-image: url('../images/DarkPizza.jpg');
    // background-image: url('../images/darkwood.jpeg');
    /* Center and scale the image nicely */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    text-align: center;
    margin: 25px 0;
    //padding: 120px;
    font-size: 1.5em;

    .text {
        padding: 50px;
    }
    .space {
        margin: 90px 0 60px 0;
    }
}

//Footer

footer {
    margin: 160px 0 20px 0;

    .copyright {
        text-align: center;
    }
    .container {
        display: flex;
        justify-content: space-between;
    }
}

.lightRed {
    color: $light_red;
}

.darkRed {
    color: $dark_red;
}
